<!-- Including the header partial -->
<%- include('partials/header') %>

<!-- Start of jumbotron section -->
<div class="jumbotron centered">
  <div class="container">
    <!-- Displaying a key icon using Font Awesome -->
    <i class="fas fa-key fa-6x"></i>
    <!-- Main heading -->
    <h1 class="display-3">Secrets</h1>
    <!-- Subheading -->
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <!-- Horizontal line for visual separation -->
    <hr>
    <!-- Button to register -->
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <!-- Button to login -->
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
<!-- End of jumbotron section -->

<!-- Including the footer partial -->
<%- include('partials/footer') %>

