<%- include('partials/header') %> <!-- Include header partial -->

<div class="jumbotron text-center"> <!-- Main content container -->
  <div class="container">
    <i class="fas fa-key fa-6x"></i> <!-- Key icon -->
    <h1 class="display-3">You've Discovered My Secret!</h1> <!-- Heading -->
    <p class="secret-text">
      <%= secret %> <!-- Display the secret -->
    </p>
    <hr> <!-- Horizontal rule -->

    <!-- Log out button -->
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

    <!-- Submit a Secret button -->
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %> <!-- Include footer partial -->
